# <center> Dataframe Groupby
## <center> Split - Apply - Combine
    


> By “group by” we are referring to a process involving one or more of the following steps:

    - Splitting the data into groups/categories based on some criteria.

    - Applying a function to each group independently.
    
    - Combining the results into a data structure.

    
*source https://pandas.pydata.org/docs/user_guide/groupby.html*

![split_apply_combine](resources/split_apply_combine.png)

It's very similar to the sql group by:


```sql
    SELECT col_1, sum(col_2), count(col_3), max(col_4)
    FROM table
    GROUP BY col_1
    HAVING count(col_3) > x
```

# Part 1: Split

## One method: pandas.Dataframe.groupby()

This methods enable to group by row (multiple columns together) or by column (multiple rows together)

We will focus on grouping **by column**

The syntax is:
    
```python
    grouped = df.groupby("column_name")
```

> - df is a **pandas.Dataframe**
> - we use the methods groupby
> - we choose one column to group by is values
> - grouped has a special type **pandas.GroupBy**


https://pandas.pydata.org/docs/reference/groupby.html

**Example**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/users.csv", sep=';')
df = df.head(100)
df.head()

,visitnumber,visitid,visitstarttime,date,totals,trafficsource,device,geonetwork,customdimensions,fullvisitorid,clientid,channelgrouping,socialengagementtype,pageviews
0,1,1639880540,2021-12-19 02:22:20,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '2',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '94', 'browsersize': '320x5...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '31', 'value': 'web'}",3.488379e+18,812201610.1639880541,direct,Not Socially Engaged,2.0
1,1,1639881924,2021-12-19 02:45:24,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '2',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '94', 'browsersize': '1440x...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '30', 'value': 'prod'}",3.330220e+18,775377246.1639881924,direct,Not Socially Engaged,2.0
2,131,1639880781,2021-12-19 02:26:21,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...","{'campaign': '60123166_20211219', 'source': 'e...","{'browserversion': '16', 'browsersize': '410x7...","{'cityid': '9052703', 'latitude': '28', 'longi...","{'index': '30', 'value': 'prod'}",5.477765e+16,12753916.1600841152,email,Not Socially Engaged,1.0
3,1,1639881281,2021-12-19 02:34:41,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...",{'campaign': 'agreg-conv_ancien_li_b2c_trovit_...,"{'browserversion': '95', 'browsersize': '410x6...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '31', 'value': 'web'}",5.047226e+18,1175148812.1639881280,metasearch,Not Socially Engaged,1.0
4,4,1639879855,2021-12-19 02:10:55,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...",{'campaign': 'agreg-conv_ancien_li_b2c_mitula_...,"{'browserversion': '95', 'browsersize': '1100x...","{'cityid': '9050143', 'latitude': '47', 'longi...","{'index': '30', 'value': 'prod'}",1.714078e+18,399089862.1623655051,metasearch,Not Socially Engaged,1.0

In [3]:
grouped = df.groupby('channelgrouping')

In [4]:
grouped

## Get informations about a GroupBy object

### GroupBy describe()

Returns a table of statistics about each group

In [5]:
grouped.describe()

                      visitnumber                                             \
                            count        mean         std   min    25%   50%
channelgrouping
(Other)                       3.0   44.000000   25.514702  18.0  31.50  45.0
app (ali excluded)           10.0  134.400000  205.819338   4.0  19.25  35.5
direct                       19.0    1.210526    0.713283   1.0   1.00   1.0
display_conversion            4.0   16.500000   16.782928   2.0   2.75  14.0
display_other                 3.0   40.000000    2.645751  38.0  38.50  39.0
email                        28.0  138.607143  297.840541   1.0   5.50  27.5
metasearch                    7.0    5.714286    4.990467   1.0   2.00   4.0
organic search               11.0   44.000000  110.569435   1.0   1.00   2.0
paid search_brand             1.0    1.000000         NaN   1.0   1.00   1.0
paid search_non-brand         9.0   11.333333   14.256577   1.0   4.00   5.0
portal sites                  3.0    7.666667   10.692677   1.0   1.50   2.0

                                      visitid                ...  \
                          75%     max   count          mean  ...
channelgrouping                                              ...
(Other)                 57.00    69.0     3.0  1.639880e+09  ...
app (ali excluded)     123.75   656.0    10.0  1.639881e+09  ...
direct                   1.00     4.0    19.0  1.639881e+09  ...
display_conversion      27.75    36.0     4.0  1.639881e+09  ...
display_other           41.00    43.0     3.0  1.639881e+09  ...
email                  119.00  1447.0    28.0  1.639881e+09  ...
metasearch               8.50    14.0     7.0  1.639881e+09  ...
organic search          16.50   371.0    11.0  1.639881e+09  ...
paid search_brand        1.00     1.0     1.0  1.639883e+09  ...
paid search_non-brand   13.00    45.0     9.0  1.639881e+09  ...
portal sites            11.00    20.0     3.0  1.639880e+09  ...

                      fullvisitorid               pageviews             \
                                75%           max     count       mean
channelgrouping
(Other)                5.896201e+18  8.594290e+18       0.0        NaN
app (ali excluded)     7.285411e+18  8.727377e+18       0.0        NaN
direct                 5.545454e+18  7.119925e+18      19.0   1.526316
display_conversion     5.038248e+18  7.981662e+18       4.0   1.500000
display_other          5.337736e+18  6.618361e+18       3.0   1.000000
email                  7.367982e+18  8.727662e+18      22.0   1.136364
metasearch             5.681992e+18  7.247803e+18       7.0   1.142857
organic search         6.239057e+18  7.415895e+18      11.0   2.181818
paid search_brand      7.706375e+18  7.706375e+18       1.0  16.000000
paid search_non-brand  4.894751e+18  9.144263e+18       9.0   2.444444
portal sites           4.107652e+18  5.041262e+18       3.0   1.333333


                            std   min   25%   50%   75%   max
channelgrouping
(Other)                     NaN   NaN   NaN   NaN   NaN   NaN
app (ali excluded)          NaN   NaN   NaN   NaN   NaN   NaN
direct                 1.020263   1.0   1.0   1.0   2.0   5.0
display_conversion     1.000000   1.0   1.0   1.0   1.5   3.0
display_other          0.000000   1.0   1.0   1.0   1.0   1.0
email                  0.351250   1.0   1.0   1.0   1.0   2.0
metasearch             0.377964   1.0   1.0   1.0   1.0   2.0
organic search         2.993933   1.0   1.0   1.0   1.5  11.0
paid search_brand           NaN  16.0  16.0  16.0  16.0  16.0
paid search_non-brand  3.609401   1.0   1.0   1.0   2.0  12.0
portal sites           0.577350   1.0   1.0   1.0   1.5   2.0

[11 rows x 32 columns]

### GroupBy groups

Return a dict: 

```
{group names: [rows index]}
```

- Useful to know the number of groups
- Enable to iterate on groups

In [6]:
for name, group in grouped:
    print(name)    
    print(type(group))

(Other)
<class 'pandas.core.frame.DataFrame'>
app (ali excluded)
<class 'pandas.core.frame.DataFrame'>
direct
<class 'pandas.core.frame.DataFrame'>
display_conversion
<class 'pandas.core.frame.DataFrame'>
display_other
<class 'pandas.core.frame.DataFrame'>
email
<class 'pandas.core.frame.DataFrame'>
metasearch
<class 'pandas.core.frame.DataFrame'>
organic search
<class 'pandas.core.frame.DataFrame'>
paid search_brand
<class 'pandas.core.frame.DataFrame'>
paid search_non-brand
<class 'pandas.core.frame.DataFrame'>
portal sites
<class 'pandas.core.frame.DataFrame'>

In [7]:
for name, group in grouped.groups.items():
    print('------')
    print(name)
    print(group)
    print('\n')

------
(Other)
Int64Index([79, 80, 88], dtype='int64')


------
app (ali excluded)
Int64Index([77, 81, 83, 84, 85, 86, 90, 91, 94, 96], dtype='int64')


------
direct
Int64Index([0, 1, 5, 11, 15, 19, 26, 29, 32, 33, 37, 38, 40, 46, 56, 59, 62,
            66, 68],
           dtype='int64')


------
display_conversion
Int64Index([6, 25, 63, 99], dtype='int64')


------
display_other
Int64Index([7, 13, 55], dtype='int64')


------
email
Int64Index([ 2,  8,  9, 10, 12, 14, 16, 18, 34, 42, 45, 50, 52, 53, 58, 60, 65,
            67, 69, 70, 71, 72, 73, 78, 82, 87, 92, 95],
           dtype='int64')


------
metasearch
Int64Index([3, 4, 17, 41, 49, 51, 98], dtype='int64')


------
organic search
Int64Index([20, 21, 22, 36, 39, 44, 47, 48, 54, 61, 64], dtype='int64')


------
paid search_brand
Int64Index([27], dtype='int64')


------
paid search_non-brand
Int64Index([23, 30, 35, 43, 57, 74, 75, 76, 97], dtype='int64')


------
portal sites
Int64Index([24, 28, 31], dtype='int64')

In [8]:
number_of_groups = len(grouped.groups)
number_of_groups

11

### GroupBy get_group()

Return a dataframe of a specific group

In [9]:
grouped.get_group("direct")

,visitnumber,visitid,visitstarttime,date,totals,trafficsource,device,geonetwork,customdimensions,fullvisitorid,clientid,channelgrouping,socialengagementtype,pageviews
0,1,1639880540,2021-12-19 02:22:20,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '2',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '94', 'browsersize': '320x5...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '31', 'value': 'web'}",3.488379e+18,812201610.1639880541,direct,Not Socially Engaged,2.0
1,1,1639881924,2021-12-19 02:45:24,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '2',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '94', 'browsersize': '1440x...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '30', 'value': 'prod'}",3.330220e+18,775377246.1639881924,direct,Not Socially Engaged,2.0
5,1,1639881007,2021-12-19 02:30:07,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '11', 'browsersize': '380x6...","{'latitude': '0', 'longitude': '0'}","{'index': '30', 'value': 'prod'}",7.119925e+18,1657736670.1639881008,direct,Not Socially Engaged,1.0
11,1,1639879263,2021-12-19 02:01:03,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '15', 'browsersize': '410x7...","{'latitude': '0', 'longitude': '0'}","{'index': '31', 'value': 'web'}",1.478502e+18,344240552.1639879264,direct,Not Socially Engaged,1.0
15,4,1639880336,2021-12-19 02:18:56,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '15', 'browsersize': '390x6...","{'latitude': '0', 'longitude': '0'}","{'index': '33', 'value': '0'}",1.289456e+18,300224803.1639714535,direct,Not Socially Engaged,1.0
19,1,1639879462,2021-12-19 02:04:22,2021-12-19,"{'visits': '1', 'hits': '3', 'pageviews': '2',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '95', 'browsersize': '1590x...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '33', 'value': 'web'}",1.627517e+18,378935877.1639879460,direct,Not Socially Engaged,2.0
26,1,1639880221,2021-12-19 02:17:01,2021-12-19,"{'visits': '1', 'hits': '7', 'pageviews': '3',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '94', 'browsersize': '1440x...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '30', 'value': 'prod'}",4.721201e+18,1099240368.1639880222,direct,Not Socially Engaged,3.0
29,2,1639882726,2021-12-19 02:58:46,2021-12-19,"{'visits': '1', 'hits': '17', 'pageviews': '5'...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '96', 'browsersize': '1370x...","{'cityid': '1006199', 'latitude': '43', 'longi...","{'index': '30', 'value': 'prod'}",6.556634e+18,1526585278.1639712660,direct,Not Socially Engaged,5.0
32,1,1639879230,2021-12-19 02:00:30,2021-12-19,"{'visits': '1', 'hits': '4', 'pageviews': '2',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '94', 'browsersize': '320x5...","{'cityid': '1007850', 'latitude': '53', 'longi...","{'index': '30', 'value': 'prod'}",2.994576e+18,697229116.1639879231,direct,Not Socially Engaged,2.0
33,1,1639880383,2021-12-19 02:19:43,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '94', 'browsersize': '320x5...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '31', 'value': 'web'}",4.788437e+18,1114894901.1639880384,direct,Not Socially Engaged,1.0
37,1,1639879654,2021-12-19 02:07:34,2021-12-19,"{'visits': '1', 'hits': '1', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '66', 'browsersize': '1350x...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '33', 'value': 'prod'}",1.968895e+18,458419032.1639879652,direct,Not Socially Engaged,1.0
38,1,1639880213,2021-12-19 02:16:53,2021-12-19,"{'visits': '1', 'hits': '1', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '17', 'browsersize': '1350x...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '31', 'value': 'web'}",6.143894e+18,1430486753.1639880214,direct,Not Socially Engaged,1.0
40,1,1639882151,2021-12-19 02:49:11,2021-12-19,"{'visits': '1', 'hits': '1', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '11', 'browsersize': '1350x...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '26', 'value': 'web'}",5.287561e+18,1231106117.1639882152,direct,Not Socially Engaged,1.0
46,1,1639881059,2021-12-19 02:30:59,2021-12-19,"{'visits': '1', 'hits': '1', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '94', 'browsersize': '320x5...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '30', 'value': 'prod'}",9.973140e+17,232205260.1639881059,direct,Not Socially Engaged,1.0
56,1,1639880020,2021-12-19 02:13:40,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '14', 'browsersize': '410x7...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '31', 'value': 'web'}",5.205952e+18,1212105246.1639880021,direct,Not Socially Engaged,1.0
59,1,1639880127,2021-12-19 02:15:27,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '94', 'browsersize': '1440x...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '31', 'value': 'web'}",1.146329e+18,266900597.1639880127,direct,Not Socially Engaged,1.0
62,1,1639881433,2021-12-19 02:37:13,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '15', 'browsersize': '410x6...","{'latitude': '0', 'longitude': '0'}","{'index': '31', 'value': 'web'}",6.909982e+18,1608855568.1639881433,direct,Not Socially Engaged,1.0
66,1,1639880647,2021-12-19 02:24:07,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '11', 'browsersize': '380x6...","{'latitude': '0', 'longitude': '0'}","{'index': '31', 'value': 'web'}",8.130629e+17,189305962.1639880646,direct,Not Socially Engaged,1.0
68,1,1639880016,2021-12-19 02:13:36,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '15', 'browsersize': '1400x...","{'cityid': '9073977', 'latitude': '19', 'longi...","{'index': '30', 'value': 'prod'}",5.803348e+18,1351197231.1639880016,direct,Not Socially Engaged,1.0

### GroupBy: select some columns


> grouped[["list", "of", "column", 'names]]

In [10]:
grouped_page_views = grouped[["date", "fullvisitorid", "pageviews"]]
grouped_page_views.get_group("direct").head()

          date  fullvisitorid  pageviews
0   2021-12-19   3.488379e+18        2.0
1   2021-12-19   3.330220e+18        2.0
5   2021-12-19   7.119925e+18        1.0
11  2021-12-19   1.478502e+18        1.0
15  2021-12-19   1.289456e+18        1.0

# Part 2: Apply

Apply can have several meanings:

### Aggregation
#### Compute a summary statistic (or statistics) for each group.

- *Compute group sums or means.*
- *Compute group sizes / counts.*

### Transformation
#### Perform some group-specific computations and return a like-indexed object.

- *Filling NAs within groups with a value derived from each group.*
- *Standardize data (zscore) within a group.*


### Filtration
#### Discard some groups, according to a group-wise computation that evaluates True or False.

- Discard data that belongs to groups with only a few members.*
- *Filter out data based on the group sum or mean.*

## 2.1 Aggregation

The result of the aggregation will have the group names as the **new index**

### Basic Aggregations

In [11]:
light_df = df[["channelgrouping", "date", "fullvisitorid", "pageviews"]]

grouped = light_df.groupby("channelgrouping")

In [12]:
light_df

          channelgrouping        date  fullvisitorid  pageviews
0                  direct  2021-12-19   3.488379e+18        2.0
1                  direct  2021-12-19   3.330220e+18        2.0
2                   email  2021-12-19   5.477765e+16        1.0
3              metasearch  2021-12-19   5.047226e+18        1.0
4              metasearch  2021-12-19   1.714078e+18        1.0
..                    ...         ...            ...        ...
95                  email  2021-12-19   3.042831e+18        NaN
96     app (ali excluded)  2021-12-19            NaN        NaN
97  paid search_non-brand  2021-12-19   4.894751e+18        1.0
98             metasearch  2021-12-19   3.651406e+18        2.0
99     display_conversion  2021-12-19   3.134328e+18        3.0

[100 rows x 4 columns]

The methods describe() returns a dataframe with all basic arithmetic aggregation for each group and for each column:

- count
- mean
- std
- min
- quartiles
- max

In [ ]:
grouped.describe()

We can also call each methods one by one.

In [13]:
grouped.sum()

                       fullvisitorid  pageviews
channelgrouping
(Other)                 1.232236e+19        0.0
app (ali excluded)      3.338955e+19        0.0
direct                  7.167119e+19       29.0
display_conversion      1.657209e+19        6.0
display_other           1.473258e+19        3.0
email                   1.262982e+20       25.0
metasearch              3.199652e+19        8.0
organic search          4.139420e+19       24.0
paid search_brand       7.706375e+18       16.0
paid search_non-brand   3.458784e+19       22.0
portal sites            1.057138e+19        4.0

In [14]:
grouped.mean()

                       fullvisitorid  pageviews
channelgrouping
(Other)                 4.107453e+18        NaN
app (ali excluded)      5.564924e+18        NaN
direct                  3.772168e+18   1.526316
display_conversion      4.143023e+18   1.500000
display_other           4.910860e+18   1.000000
email                   4.857622e+18   1.136364
metasearch              4.570932e+18   1.142857
organic search          4.139420e+18   2.181818
paid search_brand       7.706375e+18  16.000000
paid search_non-brand   3.843094e+18   2.444444
portal sites            3.523795e+18   1.333333

In [15]:
grouped.min()

                             date  fullvisitorid  pageviews
channelgrouping
(Other)                2021-12-19   5.299567e+17        NaN
app (ali excluded)     2021-12-19   4.354067e+17        NaN
direct                 2021-12-19   8.130629e+17        1.0
display_conversion     2021-12-19   1.398992e+18        1.0
display_other          2021-12-19   4.057110e+18        1.0
email                  2021-12-19   5.477765e+16        1.0
metasearch             2021-12-19   1.714078e+18        1.0
organic search         2021-12-19   4.097743e+17        1.0
paid search_brand      2021-12-19   7.706375e+18       16.0
paid search_non-brand  2021-12-19   3.367991e+17        1.0
portal sites           2021-12-19   2.356080e+18        1.0

In [16]:
grouped.max()

                             date  fullvisitorid  pageviews
channelgrouping
(Other)                2021-12-19   8.594290e+18        NaN
app (ali excluded)     2021-12-19   8.727377e+18        NaN
direct                 2021-12-19   7.119925e+18        5.0
display_conversion     2021-12-19   7.981662e+18        3.0
display_other          2021-12-19   6.618361e+18        1.0
email                  2021-12-19   8.727662e+18        2.0
metasearch             2021-12-19   7.247803e+18        2.0
organic search         2021-12-19   7.415895e+18       11.0
paid search_brand      2021-12-19   7.706375e+18       16.0
paid search_non-brand  2021-12-19   9.144263e+18       12.0
portal sites           2021-12-19   5.041262e+18        2.0

### Custom Aggregations

> Using aggregate() or agg() methods

agg() takes as argument:

- a function
- a list of functions
- a dict of functions


Syntac:

```python
    grouped.aggregate(function)

    OR

    grouped.aggregate([function1, function2, function3])
    
    OR
    
    grouped.aggregate({column_1: function1, column_2: function2, column_3: function3})
```


[Official doc](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)

### Using functions from numpy package, we can replicate the preivous behaviour

- np.sum
- np.mean
- np.std
...

In [17]:
import numpy as np

In [18]:
grouped.agg(np.sum)

                       fullvisitorid  pageviews
channelgrouping
(Other)                 1.232236e+19        0.0
app (ali excluded)      3.338955e+19        0.0
direct                  7.167119e+19       29.0
display_conversion      1.657209e+19        6.0
display_other           1.473258e+19        3.0
email                   1.262982e+20       25.0
metasearch              3.199652e+19        8.0
organic search          4.139420e+19       24.0
paid search_brand       7.706375e+18       16.0
paid search_non-brand   3.458784e+19       22.0
portal sites            1.057138e+19        4.0

In [ ]:
grouped.aggregate(np.sum)

### We can apply several functions to the Groupby Object

In [19]:
grouped.agg(['sum', 'min', 'max'])

                                                                    date  \
                                                                     sum
channelgrouping
(Other)                                   2021-12-192021-12-192021-12-19
app (ali excluded)     2021-12-192021-12-192021-12-192021-12-192021-1...
direct                 2021-12-192021-12-192021-12-192021-12-192021-1...
display_conversion              2021-12-192021-12-192021-12-192021-12-19
display_other                             2021-12-192021-12-192021-12-19
email                  2021-12-192021-12-192021-12-192021-12-192021-1...
metasearch             2021-12-192021-12-192021-12-192021-12-192021-1...
organic search         2021-12-192021-12-192021-12-192021-12-192021-1...
paid search_brand                                             2021-12-19
paid search_non-brand  2021-12-192021-12-192021-12-192021-12-192021-1...
portal sites                              2021-12-192021-12-192021-12-19

                                              fullvisitorid                \
                              min         max           sum           min
channelgrouping
(Other)                2021-12-19  2021-12-19  1.232236e+19  5.299567e+17
app (ali excluded)     2021-12-19  2021-12-19  3.338955e+19  4.354067e+17
direct                 2021-12-19  2021-12-19  7.167119e+19  8.130629e+17
display_conversion     2021-12-19  2021-12-19  1.657209e+19  1.398992e+18
display_other          2021-12-19  2021-12-19  1.473258e+19  4.057110e+18
email                  2021-12-19  2021-12-19  1.262982e+20  5.477765e+16
metasearch             2021-12-19  2021-12-19  3.199652e+19  1.714078e+18
organic search         2021-12-19  2021-12-19  4.139420e+19  4.097743e+17
paid search_brand      2021-12-19  2021-12-19  7.706375e+18  7.706375e+18
paid search_non-brand  2021-12-19  2021-12-19  3.458784e+19  3.367991e+17
portal sites           2021-12-19  2021-12-19  1.057138e+19  2.356080e+18

                                    pageviews
                                max       sum   min   max
channelgrouping
(Other)                8.594290e+18       0.0   NaN   NaN
app (ali excluded)     8.727377e+18       0.0   NaN   NaN
direct                 7.119925e+18      29.0   1.0   5.0
display_conversion     7.981662e+18       6.0   1.0   3.0
display_other          6.618361e+18       3.0   1.0   1.0
email                  8.727662e+18      25.0   1.0   2.0
metasearch             7.247803e+18       8.0   1.0   2.0
organic search         7.415895e+18      24.0   1.0  11.0
paid search_brand      7.706375e+18      16.0  16.0  16.0
paid search_non-brand  9.144263e+18      22.0   1.0  12.0
portal sites           5.041262e+18       4.0   1.0   2.0

⚠️ In that example, in doesn't make sense to apply all functions to all columns

### We can apply a different function per column

In [20]:
grouped.agg({'fullvisitorid': 'count', 'pageviews': 'sum'})

                       fullvisitorid  pageviews
channelgrouping
(Other)                            3        0.0
app (ali excluded)                 6        0.0
direct                            19       29.0
display_conversion                 4        6.0
display_other                      3        3.0
email                             26       25.0
metasearch                         7        8.0
organic search                    10       24.0
paid search_brand                  1       16.0
paid search_non-brand              9       22.0
portal sites                       3        4.0

### We can apply several different functions per column

In [21]:
grouped.agg({'fullvisitorid': ['count'], 'pageviews': ['sum', 'min', 'max']})

                      fullvisitorid pageviews
                              count       sum   min   max
channelgrouping
(Other)                           3       0.0   NaN   NaN
app (ali excluded)                6       0.0   NaN   NaN
direct                           19      29.0   1.0   5.0
display_conversion                4       6.0   1.0   3.0
display_other                     3       3.0   1.0   1.0
email                            26      25.0   1.0   2.0
metasearch                        7       8.0   1.0   2.0
organic search                   10      24.0   1.0  11.0
paid search_brand                 1      16.0  16.0  16.0
paid search_non-brand             9      22.0   1.0  12.0
portal sites                      3       4.0   1.0   2.0

### We can apply custom functions

The function must follow some rules:
    
- Take a pd.Series as argument
- Not modify the pd.Series it's applied to

**Example:**
    
We want to split the groups by category of average page views

In [23]:
def categorize_avg_page_views(page_views_series):
    """
    The function takes an Series object with the numbe of page views as argument
    It return the category in which the average stands
    Args:
        page_views_series: 

    Returns:

    """
    if np.mean(page_views_series) < 2:
        return "[0, 2]"
    elif np.mean(page_views_series) < 4:
        return "[2, 4]"
    elif np.mean(page_views_series) < 6:
        return "[4, 6]"
    else:
        return "[6, ++["

In [24]:
grouped.aggregate(categorize_avg_page_views)

                      fullvisitorid pageviews
channelgrouping
(Other)                     [6, ++[   [6, ++[
app (ali excluded)          [6, ++[   [6, ++[
direct                      [6, ++[    [0, 2]
display_conversion          [6, ++[    [0, 2]
display_other               [6, ++[    [0, 2]
email                       [6, ++[    [0, 2]
metasearch                  [6, ++[    [0, 2]
organic search              [6, ++[    [2, 4]
paid search_brand           [6, ++[   [6, ++[
paid search_non-brand       [6, ++[    [2, 4]
portal sites                [6, ++[    [0, 2]

 ⚠️ We get a warning because the function is also applied to the column `date` of type string, which cannot be compared to an integer

**Exercice 1**

Try to apply the function to the `date` column only
What error do we get?

In [35]:
## Type your answer here
# {"date": [categorize_avg_page_views]}


grouped.aggregate({"pageviews": [categorize_avg_page_views, np.sum]})

                                      pageviews
                      categorize_avg_page_views   sum
channelgrouping
(Other)                                 [6, ++[   0.0
app (ali excluded)                      [6, ++[   0.0
direct                                   [0, 2]  29.0
display_conversion                       [0, 2]   6.0
display_other                            [0, 2]   3.0
email                                    [0, 2]  25.0
metasearch                               [0, 2]   8.0
organic search                           [2, 4]  24.0
paid search_brand                       [6, ++[  16.0
paid search_non-brand                    [2, 4]  22.0
portal sites                             [0, 2]   4.0

**Exercice 2**

Our function applies only to the pageviews.

1. Write the command to run the aggregation `categorize_avg_page_views`
2. Add the aggregation `mean`to the same column

## Type your answer here

## 2.2 Transformation

The transform method returns an object that has the **same size** as the one being grouped.

The transform function must:

    - Return a result that is the same size as the group chunk
    - Operate column-by-column on the group chunk
    - Do not perform modify the group chunk.

**Example**

We want to count the number of element in each group. And having the result for each row

In [36]:
transformed = grouped.date.transform('count')

In [37]:
print(type(transformed))
print(transformed)

<class 'pandas.core.series.Series'>
0     19.0
1     19.0
2     28.0
3      7.0
4      7.0
      ...
95    28.0
96    10.0
97     9.0
98     7.0
99     4.0
Name: date, Length: 100, dtype: float64

**Output of a transform operation**

- The result is a pandas.Series

- It has the same number of rows as the initial datafram

- As a result, we can use it as a new column of df

In [38]:
df["count_per_channel_grouping"] = grouped.date.transform('count')

In [39]:
df.head()
# We have a new column count_per_channel_grouping

,visitnumber,visitid,visitstarttime,date,totals,trafficsource,device,geonetwork,customdimensions,fullvisitorid,clientid,channelgrouping,socialengagementtype,pageviews,count_per_channel_grouping
0,1,1639880540,2021-12-19 02:22:20,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '2',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '94', 'browsersize': '320x5...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '31', 'value': 'web'}",3.488379e+18,812201610.1639880541,direct,Not Socially Engaged,2.0,19.0
1,1,1639881924,2021-12-19 02:45:24,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '2',...","{'campaignid': 'null', 'adgroupid': 'null', 'c...","{'browserversion': '94', 'browsersize': '1440x...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '30', 'value': 'prod'}",3.330220e+18,775377246.1639881924,direct,Not Socially Engaged,2.0,19.0
2,131,1639880781,2021-12-19 02:26:21,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...","{'campaign': '60123166_20211219', 'source': 'e...","{'browserversion': '16', 'browsersize': '410x7...","{'cityid': '9052703', 'latitude': '28', 'longi...","{'index': '30', 'value': 'prod'}",5.477765e+16,12753916.1600841152,email,Not Socially Engaged,1.0,28.0
3,1,1639881281,2021-12-19 02:34:41,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...",{'campaign': 'agreg-conv_ancien_li_b2c_trovit_...,"{'browserversion': '95', 'browsersize': '410x6...","{'cityid': '1006094', 'latitude': '48', 'longi...","{'index': '31', 'value': 'web'}",5.047226e+18,1175148812.1639881280,metasearch,Not Socially Engaged,1.0,7.0
4,4,1639879855,2021-12-19 02:10:55,2021-12-19,"{'visits': '1', 'hits': '2', 'pageviews': '1',...",{'campaign': 'agreg-conv_ancien_li_b2c_mitula_...,"{'browserversion': '95', 'browsersize': '1100x...","{'cityid': '9050143', 'latitude': '47', 'longi...","{'index': '30', 'value': 'prod'}",1.714078e+18,399089862.1623655051,metasearch,Not Socially Engaged,1.0,7.0

## 2.3 Filtration

The filter method returns a **subset** of the original dataframe

The argument of filter must be a **function**:

    - applied to the group as a whole
    - that returns True or False

**Example**

We want to filter out groups that have less than 10 non Null pageviews elements

In [40]:
def filter_less_than_10(group):
    return len(group) >= 10

In [41]:
filtered_df = grouped.filter(filter_less_than_10)
filtered_df

          date  fullvisitorid  pageviews
0   2021-12-19   3.488379e+18        2.0
1   2021-12-19   3.330220e+18        2.0
2   2021-12-19   5.477765e+16        1.0
5   2021-12-19   7.119925e+18        1.0
8   2021-12-19   8.518933e+18        1.0
..         ...            ...        ...
91  2021-12-19   6.747753e+18        NaN
92  2021-12-19   2.311062e+17        NaN
94  2021-12-19   8.727377e+18        NaN
95  2021-12-19   3.042831e+18        NaN
96  2021-12-19            NaN        NaN

[68 rows x 3 columns]

**Compare the number of rows between the initial df and the filtered df**

In [44]:
# Type the answer here
len(df) - len(filtered_df)

32

**Exercice**

Filter the `channel_grouping` groups to keep only the ones that have on average more than 2 pageviews

In [ ]:
# Type the answer here

----

# <center>  RECAP

    


> We can split a dataframe per group using the methods groupby

**It creates an object pd.GroupBy**


> We can aggregate, transform or filter this GroupBy object

- **aggregate** produces a dataframe which size is the number or groups

- **transform** produces a dataframe of the same size
    
- **filter** produces a subset of the initial dataframe

![split_apply_combine](resources/split_apply_combine.png)