In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/extract_realestatealerts.csv")

In [3]:
df.head()

,refuser_id,real_estate_alert_id,subscription_date,unsubscription_date,platform,distribution_type,estate_type,living_area_min,living_area_max,price_min,price_max,number_of_rooms,location_zipcodes,location_departement,gateway
0,dc1fdcf7-dd4a-4d29-be7c-8d5d23d52618,63211857,2021-09-09 18:01:03.000000,2021-10-08 22:47:47.000000,LOGICIMMO,BUY,NaN,0.0,1000.0,0.0,0.0,"{1,2,3,4,5}",{17730},NaN,NaN
1,bce0f525-0fe8-4074-95e3-84f805f38389,62522466,2021-07-01 19:43:30.000000,NaN,LOGICIMMO,RENT,NaN,30.0,1000.0,0.0,600.0,"{1,2,3,4,5}",{35000},NaN,NaN
2,1dcb5a8b-917c-459a-a1bd-3b46610a84f4,62982629,2021-08-18 02:01:20.000000,NaN,LOGICIMMO,RENT,NaN,0.0,1000.0,0.0,0.0,"{1,2,3,4,5}",{83000},NaN,NaN
3,f596a761-4e73-464a-9cb1-9dfe9a0290de,61241448,2021-02-18 20:13:02.000000,2021-03-06 14:02:13.000000,LOGICIMMO,RENT,NaN,0.0,10000.0,0.0,750.0,"{1,2,3,4,5}",NaN,{69},NaN
4,6dda3e62-2ad1-4049-9fde-9b4517d755b9,63852238,2021-11-30 19:01:06.000000,NaN,LOGICIMMO,BUY,{HOUSEORVILLA},100.0,1000.0,0.0,390000.0,"{1,2,3,4,5}",{72000},NaN,NaN

## Let's have a look at the distribution types

### Print the distinct values for distribution type

In [5]:
df.platform.unique()

array(['LOGICIMMO', 'LOGICIMMONEUF'], dtype=object)

### Create a groupby object based on distribution_type

In [ ]:
grouped_distribution_type = df.groupby("distribution_type")

### Print all stats per distribution_type for price_min and price_max

In [ ]:
# Type here

### Filter out the distribution_type which don't have a price_min. and price_max

In [ ]:
# Type here

...