# <center> Date and Datetime
    
In the jupyter notebook [10. Python Libraries.ipynb](https://github.com/maxenceh/python-training-ontrain/blob/main/3.%20Session%203/10.%20Python%20Libraries.ipynb), we have seen the datetime package. Let's focus a bit on that.
    
First, we import the datetime package.

In [8]:
from datetime import datetime

In [9]:
my_first_datetime_object = datetime(2021, 12, 25, 9, 37, 16)

## Manipulate date and datetime

Write a program to:

Print today's date and time
Print today's date ONLY

In [10]:
today = datetime.now()
print(today)
print(type(today))
today

2022-01-13 11:09:12.205092
<class 'datetime.datetime'>

datetime.datetime(2022, 1, 13, 11, 9, 12, 205092)

Get the year, month, day, etc...

In [11]:
today.year, today.month, today.day, today.hour, today.minute

(2022, 1, 13, 11, 9)

In [12]:
today_date = today.date()
print(today_date)

2022-01-13

Datetime objects have no timezone information

In [13]:
print(today.tzinfo)

None

**Timestamp vs Datetime**

Datetime objects haveÂ no notion of timezone whereas timestamps have.

For example, the first date of the year is `2022-01-01 00:00:00`, regardless of you live. This is a datime.
However, if you plan a phone call with someone living in the US, having the right timezone is important: you need a timestamp.

How does it translate in python?

`timestamp` are often expressed as "epoch time timestamp", ie the number of seconds between now and "1970-01-01".

In [14]:
from datetime import time

In [15]:
datetime.timestamp(datetime.now())

1642068565.212226

In [16]:
datetime.timestamp(datetime.now())

1642068567.636843

By default, this is expressed with UTC time.

In [17]:
utc_time = datetime.timestamp(datetime.now())

In [18]:
type(utc_time)

float

You can also use the `time` package.

In [19]:
import time

In [20]:
time.time()

1642068575.790396

In [21]:
time.gmtime()

time.struct_time(tm_year=2022, tm_mon=1, tm_mday=13, tm_hour=10, tm_min=9, tm_sec=37, tm_wday=3, tm_yday=13, tm_isdst=0)

In [22]:
time.localtime()

time.struct_time(tm_year=2022, tm_mon=1, tm_mday=13, tm_hour=11, tm_min=9, tm_sec=38, tm_wday=3, tm_yday=13, tm_isdst=0)

# Convert datime to String

We use the `datetime.strftime(format)` method.

![datetime_format](resources/datetime_format.png)

In [23]:
today = datetime.now()

In [24]:
today.strftime('%Y')

'2022'

In [25]:
today.strftime('%Y-%m-%d')

'2022-01-13'

**Exercice**

Convert today's datetime into `Thursday 13 January 2022 at 12:58, and we don't care about the 18 seconds!` (if it is "12:58:18")

In [27]:
# TODO

In [29]:
today = datetime.now()
today.strftime ("%A %d")

'Thursday 13'

# Convert String to Datetime

We use the `datetime.strptime(string, format)`

In [ ]:
today_string = '2021-29-12T09:10:11'

In [ ]:
today_datetime = datetime.strptime(today_string, '%Y-%d-%mT%H:%M:%S')

# Timedelta 

We can use timedelta to add or remove time element to a datetime.

Exemple, let's remove days or hours to specific datetime.

In [ ]:
from datetime import timedelta

today = datetime.now()
tomorrow = today + timedelta(days=1)

print(f"today: {today}")
print(f"tomorrow: {tomorrow}")

In [ ]:
yesterday = today + timedelta(days=-1)
yesterday

which is equivalent to:

In [ ]:
yesterday = today - timedelta(days=1)
yesterday

_Note_: We cannot use month as timedelta argument. Instead, we use another package called relativedelta.

In [ ]:
today + timedelta(months=1)

In [ ]:
from dateutil.relativedelta import relativedelta
today + relativedelta(months=1)

# Datetime with Pandas

In [30]:
import pandas as pd

In [31]:
datetime_df = pd.read_csv('Resources/datetime_df.csv')

In [33]:
datetime_df

   id           created_at             name
0   1  2021-01-03T10:15:19     Andy Barakat
1   2  2021-10-04T11:10:11  Maxence Haouari

In [32]:
datetime_df.dtypes

id             int64
created_at    object
name          object
dtype: object

We can convert a column to a datetime. On crÃ©Ã© une nouvelle colonne ou on la remplace (la on crÃ©Ã©)

In [36]:
datetime_df['create_at_dt'] = pd.to_datetime(datetime_df['created_at'])

In [37]:
datetime_df

   id           created_at             name        create_at_dt
0   1  2021-01-03T10:15:19     Andy Barakat 2021-01-03 10:15:19
1   2  2021-10-04T11:10:11  Maxence Haouari 2021-10-04 11:10:11

In [38]:
datetime_df.dtypes

id                       int64
created_at              object
name                    object
create_at_dt    datetime64[ns]
dtype: object

Now, we can perform operation on the datetime column.

In [39]:
datetime_df['create_at_dt'].dt.day

0    3
1    4
Name: create_at_dt, dtype: int64

In [ ]:
datetime_df['create_at_dt'].dt.year

`datetime_df['create_at_dt'].dt` converts the serie `datetime_df['create_at_dt']` into a datetime serie and enables us to use datetime methods on the column.

In [40]:
datetime_df['create_at_dt'].dt

**Exercice**

Create a new column `created_date` that is the date under the format `%Y-%m-%d` using `strftime`.

In [41]:
# TODO

In [51]:
datetime_df['create_date'] = datetime_df['create_at_dt'].dt.strftime('%Y-%d')

In [52]:
datetime_df

   id           created_at             name        create_at_dt create_date
0   1  2021-01-03T10:15:19     Andy Barakat 2021-01-03 10:15:19     2021-03
1   2  2021-10-04T11:10:11  Maxence Haouari 2021-10-04 11:10:11     2021-04